## Instructions: 

Choose an regression problem that interests you can try to train a linear regression model out of it. 

`The modling part can refer to ./1_linear_regression.ipynb`

Make sure to do the following: 
1. EDA(Exploratory data analysis): to learn more about the dataset itself
     * Number of features
     * Number of data points 
     * Value distribution within each feature
     * ...
2. Train test data split 
3. Model training 
4. Evaluation

In [2]:
import pandas as pd
from sklearn import datasets

In [3]:
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

### You can choose the dataset you like, I am just using the following as an example

In [24]:
dateset_cali_housing = datasets.fetch_california_housing( as_frame=True, n_retries=3, delay=1.0)

In [25]:
X = dateset_cali_housing.data
print(X.shape)

y = dateset_cali_housing.target
print(y.shape)

(20640, 8)
(20640,)

In [26]:
X.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [11]:
X.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000

In [16]:
import numpy as np

In [27]:
X = np.array(X['AveRooms'])
y = np.array(y)

In [29]:
X.shape

(20640,)

In [32]:
X = np.expand_dims(X, axis=1)

In [33]:
X.shape

(20640, 1)

In [34]:
# Use only one feature
# X = X[:, np.newaxis, 2]

# Split the data into training/testing sets
X_train = X[:-20]
X_test = X[-20:]

# Split the targets into training/testing sets
y_train = y[:-20]
y_test = y[-20:]

In [35]:
# Create linear regression object
regr = linear_model.LinearRegression()

# Train the model using the training sets
regr.fit(X_train, y_train)

# Make predictions using the testing set
y_pred = regr.predict(X_test)

# The coefficients
print("Coefficients: \n", regr.coef_)
# The mean squared error
print("Mean squared error: %.2f" % mean_squared_error(y_test, y_pred))
# The coefficient of determination: 1 is perfect prediction
print("Coefficient of determination: %.2f" % r2_score(y_test, y_pred))

Coefficients:
 [0.07093976]
Mean squared error: 1.36
Coefficient of determination: -27.94