### Note: 
Kaggle API/CLI way of downloading the dataset wse used below. 
https://www.kaggle.com/discussions/general/156610

In [4]:
!pip install --user kaggle

Requirement already satisfied: kaggle in /Users/yusali/miniforge3/envs/ML_intro/lib/python3.11/site-packages (1.6.17)
Requirement already satisfied: six>=1.10 in /Users/yusali/miniforge3/envs/ML_intro/lib/python3.11/site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in /Users/yusali/miniforge3/envs/ML_intro/lib/python3.11/site-packages (from kaggle) (2024.7.4)
Requirement already satisfied: python-dateutil in /Users/yusali/miniforge3/envs/ML_intro/lib/python3.11/site-packages (from kaggle) (2.9.0)
Requirement already satisfied: requests in /Users/yusali/miniforge3/envs/ML_intro/lib/python3.11/site-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in /Users/yusali/miniforge3/envs/ML_intro/lib/python3.11/site-packages (from kaggle) (4.66.5)
Requirement already satisfied: python-slugify in /Users/yusali/miniforge3/envs/ML_intro/lib/python3.11/site-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in /Users/yusali/miniforge3/envs/ML_intro/lib/python3.11/site-packages (from kaggle) (2.2.2)
Requirement already satisfied: bleach in /Users/yusali/miniforge3/envs/ML_intro/lib/python3.11/site-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in /Users/yusali/miniforge3/envs/ML_intro/lib/python3.11/site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /Users/yusali/miniforge3/envs/ML_intro/lib/python3.11/site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/yusali/miniforge3/envs/ML_intro/lib/python3.11/site-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/yusali/miniforge3/envs/ML_intro/lib/python3.11/site-packages (from requests->kaggle) (3.7)

In [8]:
!kaggle datasets list -s reuters

ref                                                              title                                               size  lastUpdated          downloadCount  voteCount  usabilityRating
---------------------------------------------------------------  -------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
nltkdata/reuters                                                 Reuters                                             13MB  2017-11-16 07:30:22           6221         60  0.8125
kanchana1990/global-news-engagement-on-social-media              Global News Engagement on Social Media             261KB  2024-03-15 05:12:13           1631         42  1.0
notlucasp/financial-news-headlines                               Financial News Headlines Data                        4MB  2020-07-19 06:24:51           3886         35  1.0
saurabhshahane/fake-news-classification                          Fake News Classification                            92MB  2023-10-08 21:01:00          12740        108  1.0
davidwallach/financial-tweets                                    Financial Tweets                                     2MB  2018-08-09 17:13:55          12279        288  0.8235294
boldy717/reutersnltk                                             NLTK Reuters News Documents                          3MB  2019-01-16 01:04:50            783         10  0.64705884
narendrageek/reuters21578-multilabel-classification-news         MultiLabel Classification - Reuters News Dataset     7MB  2020-08-02 06:15:02            510          7  0.64705884
ukveteran/reuters                                                Reuters                                              7MB  2020-08-01 16:25:30             64          2  0.3125
joebeachcapital/the-economists-big-mac-index                     The Economist's Big Mac Index                      230KB  2023-10-23 05:52:29            853         30  1.0
thedevastator/uncovering-financial-insights-with-the-reuters-2   Reuters-21578 (Text Categorization)                 18MB  2022-12-02 11:22:10            603          3  0.9411765
piterfm/2022-ukraine-russian-war                                 2022 Russia Ukraine War                             30KB  2024-08-04 15:38:31          30293       1049  1.0
mrmorj/big-mac-index-data                                        Big Mac Index Data                                  65KB  2020-07-17 07:46:39           1790         17  1.0
utkarshx27/select-world-bank-commodity-price-data                Global Commodity Prices: Monthly Data (1960-2022)   32KB  2023-05-06 11:33:54           1576         40  1.0
mennaallahsaed/reuters21578                                      reuters21578                                         8MB  2024-04-28 17:00:49              6          2  0.875
feyzazkefe/reuters21578-sgm                                      Reuters21578 (sgm)                                   8MB  2021-06-02 09:28:36            115          4  0.5625
paultimothymooney/the-economists-big-mac-index                   The Economist's Big Mac Index                        2MB  2023-10-24 15:20:25           1418         48  0.8235294
rajkumarpandey02/highest-ranked-universities-in-global-rankings  Highest Ranked Universities in Global Rankings      22KB  2023-03-21 11:53:05           1209         43  0.9411765
stevenpeutz/misinformation-fake-news-text-dataset-79k            Misinformation & Fake News text dataset 79k         85MB  2022-05-09 15:51:30           2065         45  1.0
kaushiksuresh147/indianeedsoxygen-tweets                         #IndiaNeedsOxygen Tweets                             4MB  2021-11-14 14:27:13            427         27  1.0
wordroid/dataset-reuters-newswire-topics-in-keras                Dataset Reuters newswire topics in keras             2MB  2021-08-04 02:40:36            198          1  0.6875

In [12]:
!kaggle datasets download -d thedevastator/uncovering-financial-insights-with-the-reuters-2 -p ../../data/temp_large/kaggle_reuters --unzip

Dataset URL: https://www.kaggle.com/datasets/thedevastator/uncovering-financial-insights-with-the-reuters-2
License(s): CC0-1.0
Downloading uncovering-financial-insights-with-the-reuters-2.zip to ../../data/kaggle_reuters
 95%|████████████████████████████████████▏ | 17.0M/17.8M [00:00<00:00, 44.5MB/s]
100%|██████████████████████████████████████| 17.8M/17.8M [00:00<00:00, 39.2MB/s]

In [1]:
!kaggle datasets download -h

usage: kaggle datasets download [-h] [-f FILE_NAME] [-p PATH] [-w] [--unzip]
                                [-o] [-q]
                                [dataset]

options:
  -h, --help            show this help message and exit
  dataset               Dataset URL suffix in format <owner>/<dataset-name> (use "kaggle datasets list" to show options)
  -f FILE_NAME, --file FILE_NAME
                        File name, all files downloaded if not provided
                        (use "kaggle datasets files -d <dataset>" to show options)
  -p PATH, --path PATH  Folder where file(s) will be downloaded, defaults to current working directory
  -w, --wp              Download files to current working path
  --unzip               Unzip the downloaded file. Will delete the zip file when completed.
  -o, --force           Skip check whether local version of file is up to date, force file download
  -q, --quiet           Suppress printing information about the upload/download progress

In [ ]:
import os
from kaggle.api.kaggle_api_extended import KaggleApi

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("../../data/temp_large/kaggle_reuters/ModApte_test.csv")

In [5]:
df.head()

,text,text_type,topics,lewis_split,cgis_split,old_id,new_id,places,people,orgs,exchanges,date,title
0,Mounting trade friction between the\nU.S. And ...,"""NORM""",['trade'],"""TEST""","""TRAINING-SET""","""3809""","""14826""",['hong-kong' 'usa' 'japan' 'taiwan' 'malaysia'...,[],[],[],8-APR-1987 01:03:47.52,ASIAN EXPORTERS FEAR DAMAGE FROM U.S.-JAPAN RIFT
1,A survey of 19 provinces and seven cities\nsho...,"""NORM""",['grain'],"""TEST""","""TRAINING-SET""","""3811""","""14828""",['china'],[],[],[],8-APR-1987 01:19:17.29,CHINA DAILY SAYS VERMIN EAT 7-12 PCT GRAIN STOCKS
2,The Ministry of International Trade and\nIndus...,"""NORM""",['crude' 'nat-gas'],"""TEST""","""TRAINING-SET""","""4356""","""14829""",['japan'],[],[],[],8-APR-1987 01:22:17.25,JAPAN TO REVISE LONG-TERM ENERGY DEMAND DOWNWARDS
3,Thailand's trade deficit widened to 4.5\nbilli...,"""NORM""",['trade' 'grain' 'rice' 'corn' 'sugar' 'tin' '...,"""TEST""","""TRAINING-SET""","""3815""","""14832""",['thailand'],[],[],[],8-APR-1987 01:45:09.09,THAI TRADE DEFICIT WIDENS IN FIRST QUARTER
4,Indonesia expects crude palm oil (CPO)\nprices...,"""NORM""",['veg-oil' 'palm-oil'],"""TEST""","""TRAINING-SET""","""3816""","""14833""",['indonesia' 'malaysia'],[],[],[],8-APR-1987 01:48:20.11,INDONESIA SEES CPO PRICE RISING SHARPLY

In [6]:
df.shape

(3299, 13)

In [7]:
df.describe()

,text,text_type,topics,lewis_split,cgis_split,old_id,new_id,places,people,orgs,exchanges,date,title
count,3023,3299,3299,3299,3299,3299,3299,3299,3299,3299,3299,3299,3285
unique,3004,3,258,1,1,3299,3299,359,76,22,13,3299,3220
top,The leaders of two of Japan's top business\ngr...,"""NORM""",['earn'],"""TEST""","""TRAINING-SET""","""3809""","""14826""",['usa'],[],[],[],8-APR-1987 01:03:47.52,PROPOSED OFFERINGS RECENTLY FILED WITH THE SEC
freq,2,3009,1083,3299,3299,1,1,1786,3127,3132,3276,1,4